


@font-face {
    font-family: myFont;
    src: url(fonts/GlametrixLight-0zjo.otf);
 }
 @font-face {
    font-family: myFontHeader;
    src: url(fonts/Forturn-ywG6m.otf);
 }
 

 @font-face {
    font-family: mylogo;
    src: url(fonts/Glametrix-oj9A.otf);
    
 }

 @font-face {
     font-family: myFoot;
    src: url(fonts/MomcakeBold-WyonA.otf);
    
 }


body::-webkit-scrollbar {
display: none;
}


.margin{
    margin-bottom: 300px;
}




 .par-font{

    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;

 }



.max-width{
    max-width: 400px;
    max-height: 400px;
}



.p-font{
    font-family: myFont;
    font-size: 25px;
    line-height: 27px;
}

.h2-font{
    font-family: myFoot;
}


.carousel .carousel-item {
    
    height: 500px;
  }
  
  .carousel-item img {
    object-fit: cover;
    min-height: 500px !important; 
    max-height: 6000px !important; 
}



.container-shadow{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.card-hadow{

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;


}


.text-justify{
    text-align: justify;
}




.magnifyImg{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;  
    margin: auto;
    max-width: 1000px;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
    
}
.magnifyImg__ele{
    box-sizing: border-box;
    padding: 10px;
    max-width: 160px;
    max-height: 160px;
    justify-self: center;
    align-self: center;
}
.magnifyImg__ele:hover{
transform: scale(2);
transition: ease-in;
padding-left: 10px;


}

.img-square{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
    align-items: center;
}

.magnify-img{
    box-sizing: border-box;
    padding: 10px;
    max-width: 200px;
    max-height: 200px;
    justify-self: center;
    align-self: center;
}

.magnify-img:hover{
    transform: scale(3);
    transition: ease-in;
    padding-left: 20px;
    
    
    }



    
ul.icon{
    list-style-type: none ;

}
ul.icon li{

    font-family: myFont;
    font-size: 30px;
    line-height: 30px;
}


ul.icon li::before{

    content: 'done';
    font-family: 'Material icons';
    font-size: 20px;
    padding: 10px;
}



.img-maxWidth{
    max-width: 150px;
    max-height: 150px;

}



.no-style{

    text-decoration: none;
}





#payc{
    margin: 20px;
    display: none;
}

#paya{
    margin: 20px;
    display: none;
}
#payh{
    margin: 20px;
    display: none;
}



ul.iframe{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    
    }
    
    ul.iframe li{
      border-right: solid 1px white;
      margin: 0 auto;
      float: left;
    }
    ul.iframe li:last-child{
      border-right: none;
     
    }
    
    
    ul.iframe li a {
      
      font-family: myFoot;
      font-size: 20px;
      display: block;
      color: white;
      padding: 13px 16px;
      text-align: center;
      text-decoration: none;
    
    
    
    }
    
    ul.iframe li a:hover{
    
      background-color: #0099cc;
    }
    
    ul.iframe li a:visited , a:active{
      background-color: #16cae2;
    }
    
    ul.iframe li a.current{
        color: #16cae2;
        background-color: white;
    }
    ul.iframe li a.currentt{
        color: white;
        background-color: black;
    }